.photo-grid__item {
  /* max-width: 284px;
  min-height: 213px; */
  object-fit: cover;
  width: 100%;
  display:block;
}

/*@media screen and (max-width: 1184px) {
  .photo-grid__item {
    max-width: 300px;
    min-height: 225px;
  }
}

@media screen and (max-width: 928px) {
  .photo-grid__item {
    max-width: 352px;
    min-height: 264px;
  }
}

@media screen and (max-width: 720px) {
  .photo-grid__item {
    max-width: 288px;
    min-height: 216px;
  }
}*/
