.video__item {
  max-width: 583px;
  width: 100%;
  min-height: 323px;
  color: #fff;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  background-size: cover;
  z-index: 1;
  display: block;
  border-radius: 5px;
}

.video__item:first-child {
  background-image: url(../../../images/colors_of_kamchatka.jpg);
}

.video__item:nth-child(2) {
  background-image: url(../../../images/observatory.jpg);
}

.video__item:before{
  content: '';
  position: absolute;
  top: 0;
  left:0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background-color: #2A2C2F;
}

.video__item:hover:before{
   opacity: 0.8;
}
