.video__duration {
  max-width: 44px;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.0892; /* 13.07px */
  letter-spacing: 3.6px;
  margin: 94px 0 0 30px;
  z-index: 2;
  position: relative;
}
