/*
расчет ширины
разница размеров экрана: 1280-1024=256
коэф для полей: 2*48/256
разница текущего размера экрана и минимального: 100%-1024
размер полей: (100%-1024)*коэф

высота=ширина * коэф, равный отношению ширины к высоте (1.6) (обратная велична 0.625)

padding из системы  лин ур, где x ширина экрана
*/

.cover {
  max-width: 1184px;
  width: calc(100% - (max(100%, 1024px) - 1024px) * (2 * 48 / 256));
  margin: 0 auto;
}

@media screen and (max-width:1024px) {
  .cover {
    width: 100%;
  }
}
