.lead__caption {
font-size: 10px;
font-weight: 400;
line-height: 1.4;
letter-spacing: 1.5px;
text-transform: uppercase;
margin: 8px 0 0;
min-width: 158px;
}

@media screen and (max-width: 1024px) {
  .lead__caption {
    margin-left: calc((-3 / 32) * 100vw + 96px);
  }
}

@media screen and (max-width: 768px) {
  .lead__caption {
    margin-left: calc((1 / 56) * 100vw + (72 / 7) * 1px);
  }
}
