.cover__title {
  font-size: 72px;
  font-weight: 900;
  line-height: 1.05556; /* 105.556% */
  max-width: 560px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  z-index: 2;
  position: relative;
}

@media screen and (max-width: 500px) {
  .cover__title {
    max-width: 288px;
    font-size: 32px;
    line-height: 1.09375;
  }
}
