.places__website {
  max-width: 456px;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  align-self: flex-end;
}

@media screen and (max-width: 500px) {
  .places__website {
    margin-left: 16px;
  }
}

